@page
@model Project.Pages.adminModel
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body class="bg-dark">
    <div class="card-deck">
        <div class="card">
            <img class="card-img-top" src="/picture/admin-picture/286613.jpg">
            <div class="card-body">
                <h4 class="card-title">Normal room</h4>
                <p class="card-text"> Normal room price 1,000 Baht/Night </p>
                <p class="card-text"> Free Wi-Fi</p>
                <p class="card-text"> Size: 30 Square meter </p>
                <p class="card-text"> Maximum guests : 3 adults </p>
                <p class="card-text"> Bed Type : Queen Sized Bed </p>
                <form action="./normal_admin">
                    <input class="btn btn-outline-primary btn-lg btn-block" type="submit" value="Detail Normal Room" />
                </form>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="/picture/admin-picture/286615.jpg">
            <div class="card-body">
                <h4 class="card-title">Sweet room</h4>
                <p class="card-text"> Sweet room price 1,700 Baht/Night </p>
                <p class="card-text"> Free Wi-Fi</p>
                <p class="card-text"> Size: 40 Square meter </p>
                <p class="card-text"> Maximum guests : 3 Adult </p>
                <p class="card-text"> Bed type : King size bed </p>
                <form action="./sweet_room_admin">
                    <input class="btn btn-outline-primary btn-lg btn-block" type="submit" value="Detail Sweet Room" />
                </form>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="/picture/admin-picture/286616.jpg">
            <div class="card-body">
                <h4 class="card-title">Suite room</h4>
                <p class="card-text"> Suite room price 2,300 Baht/Night </p>
                <p class="card-text"> Free Wi-Fi</p>
                <p class="card-text"> Size 59 Square meter</p>
                <p class="card-text"> Maximum guests : 3 Adult </p>
                <p class="card-text"> Bed type : King size bed </p>
                <form action="./suit_room_admin">
                    <input class="btn btn-outline-primary btn-lg btn-block" type="submit" value="Detail Suit Room" />
                </form>
            </div>
        </div>
    </div>
</body>