@page
@model Project.Pages.HomeModel
<body class="bg-dark">
    <div class="card-deck">
        <div class="card">
            <img class="card-img-top" src="/picture/1_Home.png">
            <div class="card-body">
                <h4 class="card-title">Normal room</h4>
                <p class="card-text"> Normal room price 1,000 Baht/Night </p>
                <p class="card-text"> Free Wi-Fi</p>
                <p class="card-text"> Size: 30 Square meter </p>
                <p class="card-text"> Maximum guests : 3 adults </p>
                <p class="card-text"> Bed Type : Queen Sized Bed </p>
                <form action="./reservation_normalroom">
                    <input class="btn btn-outline-primary btn-lg btn-block" type="submit" value="Reservation Room" />
                </form>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="/picture/2_Home.png">
            <div class="card-body">
                <h4 class="card-title">Sweet room</h4>
                <p class="card-text"> Sweet room price 1,700 Baht/Night </p>
                <p class="card-text"> Free Wi-Fi</p>
                <p class="card-text"> Size: 40 Square meter </p>
                <p class="card-text"> Maximum guests : 3 Adult </p>
                <p class="card-text"> Bed type : King size bed </p>
                <form action="./reservation_sweetroom">
                    <input class="btn btn-outline-primary btn-lg btn-block" type="submit" value="Reservation Room" />
                </form>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="/picture/3_Home.png">
            <div class="card-body">
                <h4 class="card-title">Suite room</h4>
                <p class="card-text"> Suite room price 2,300 Baht/Night </p>
                <p class="card-text"> Free Wi-Fi</p>
                <p class="card-text"> Size 59 Square meter</p>
                <p class="card-text"> Maximum guests : 3 Adult </p>
                <p class="card-text"> Bed type : King size bed </p>
                <form action="./reservation_suiteroom">
                    <input class="btn btn-outline-primary btn-lg btn-block" type="submit" value="Reservation Room" />
                </form>
            </div>
        </div>
    </div>
    
</body>