@page
@model Project.Pages.normal_informationsModel
<br /><br />
<body class="bg-dark">
    <font style="font-size:30px; ">
        <span class="text-warning" style="font-size: 75%">
            Please input information
        </span>
    </font>

    <form method="POST" id="user_form" action="./informations_normal_Sql">
        @Html.AntiForgeryToken()

        <div class="form-group row">
            <div class="col-xl-4">
                <span class="text-light">Name</span>
                <input type="text" id="name_" name="name_" class="form-control"
                       required>
            </div><br />
            <div class="col-xl-4">
                <span class="text-light">Lastname</span>
                <input type="text" id="lastName" name="lastName" class="form-control"
                       required>
            </div><br />
            <div class="col-xl-5">
                <br />
                <span class="text-light"> ID Card - Number</span>
                <input type="text" id="idcard" name="idcard" class="form-control"
                       required>
            </div><br />
            <div class="col-xl-4">
                <br />
                <span class="text-light">Phone - number</span>
                <input type="text" id="phone_number" name="phone_number" class="form-control"
                       required>
            </div><br />
            <div class="col-xl-10">
                <br />
                <span class="text-light"> Address</span>
                <input type="text" id="address_user" name="address_user" class="form-control"
                       required>
            </div><br />
            <div class="col-xl-4">
                <br />
                <span class="text-light">Blood Type</span>
                <input type="text" id="blood_type" name="blood_type" class="form-control"
                       required>
            </div><br />
            <div class="col-xl-4">
                <br />
                <span class="text-light">
                    Congenital disease
                </span>
                <input type="text" id="congenital_disease" name="congenital_disease" class="form-control"
                       required>
            </div><br /><br />
            <div class="col-xl-5">
                <br />
                <span class="text-light">
                    Booking date
                </span>
                <input type="date" id="booking_date" name="booking_date" class="form-control"
                       min="1997-01-01" max="2030-12-31" required>
            </div><br />
        </div>
        <div style="float: right;">
            <div style="float: right;">
                <table width="90%" height="75%">
                    <tr>
                        <td></td>
                        <td>
                            <input class="btn btn-primary btn-lg" type="submit" value="Booking" style="font-size: 20px;">
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td onclick="location.href='Home'">
                            <input class="btn btn-danger btn-lg" type="submit" formaction="/Home" value="Back" style="font-size: 20px;">
                        </td>
                    </tr>
                </table>

            </div>
        </div>
     </form>
</body>
