@page
@model Project.Pages.reservation_normalroomModel
<link rel="stylesheet" href="~/css/reservetion_room.css" />

<body class="bg-dark">
    <div class="table">
        <font style="font-size:30px; ">
            <span class="text-warning" style="font-size: 75%">
                Please select room
            </span>
            <span class="text-light" style="font-size: 75%"> (Ordinary-Air-Conditioned-Bed) </span>
        </font>
        <font style="font-size: 21px;">
            <table width="90%" height="75%">
                <tr>
                    <td bgcolor="#FFA500" style="text-align:center">Room 101</td>
                    <td bgcolor="#FFFFFF" style="text-align:left">
                        Normal room<br />
                        Normal room Bed 1 Locker 1 Reading table 1 Chair 1
                    </td>
                    <td bgcolor="#FFFFFF">
                        <input class="btn btn-info btn-lg" type="submit" value="Select" style="font-size: 20px;">
                    </td>
                   
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td bgcolor="#FFA500" style="text-align:center">Room 202</td>
                    <td bgcolor="#FFFFFF" style="text-align:left">
                        Normal room<br />
                        Normal room Bed 1 Locker 1 Reading table 1 Chair 1
                    </td>
                    <td bgcolor="#FFFFFF">
                        <input class="btn btn-info btn-lg" type="submit" value="Select" style="font-size: 20px;">
                    </td>
                    
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td bgcolor="#FFA500" style="text-align:center">Room 303</td>
                    <td bgcolor="#FFFFFF" style="text-align:left">
                        Normal room<br />
                        Normal room Bed 1 Locker 1 Reading table 1 Chair 1
                    </td>
                    <td bgcolor="#FFFFFF">
                        <input class="btn btn-info btn-lg" type="submit" value="Select" style="font-size: 20px;">
                    </td>
                   
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td bgcolor="#FFA500" style="text-align:center">Room 404</td>
                    <td bgcolor="#FFFFFF" style="text-align:left">
                        Normal room<br />
                        Normal room Bed 1 Locker 1 Reading table 1 Chair 1
                    </td>
                    <td bgcolor="#FFFFFF">
                        <input class="btn btn-info btn-lg" type="submit" value="Select" style="font-size: 20px;">
                    </td>
                    
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td bgcolor="#FFA500" style="text-align:center">Room 505</td>
                    <td bgcolor="#FFFFFF" style="text-align:left">
                        Normal room<br />
                        Normal room Bed 1 Locker 1 Reading table 1 Chair 1
                    </td>
                    <td bgcolor="#FFFFFF">
                        <input class="btn btn-info btn-lg" type="submit" value="Select" style="font-size: 20px;">
                    </td>
                   
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td bgcolor="#FFA500" style="text-align:center">Room 606</td>
                    <td bgcolor="#FFFFFF" style="text-align:left">
                        Normal room<br />
                        Normal room Bed 1 Locker 1 Reading table 1 Chair 1
                    </td>
                    <td bgcolor="#FFFFFF">
                        <input class="btn btn-info btn-lg" type="submit" value="Select" style="font-size: 20px;">
                    </td>
                    
                </tr>
              
                <tr onclick="location.href='Home'">
                    <td></td>
                    <td></td>
                    <td>
                        <input class="btn btn-danger btn-lg" type="submit" formaction="/Home" value="Back" style="font-size: 20px;">
                    </td>
                </tr>
            </table>
        </font>
    </div>  
</body>
