@page
@model Project.Pages.reservation_normalroomModel
<link rel="stylesheet" href="~/css/reservetion_room.css" />

<body class="bg-dark">
    <div class="header">
        <font>
            <span class="text-warning" style="font-size: 75%"> เลือกห้องพัก </span>
            <span class="text-light" style="font-size: 75%"> (ธรรมดา-ปรับอากาศ-เตียง) </span>
        </font>
    </div>
    <form action="./Home">
        <input class="btn btn-danger" type="submit" value="Back">
    </form>
</body>
