@page
@model Project.Pages.reservation_suiteroomModel
@{
}
<body class="bg-dark">
    <div class="table">
        <font style="font-size:30px; ">
            <span class="text-warning" style="font-size: 75%">
                Please select room
            </span>
            <span class="text-light" style="font-size: 75%"> (Ordinary-Air-Conditioned-Bed) </span>
        </font>
        <font style="font-size: 21px;">
            <table width="90%" height="75%">
                <tr>
                    <td bgcolor="#FFA500" style="text-align:center">Room 103</td>
                    <td bgcolor="#FFFFFF" style="text-align:left">
                        Suite room<br />
                        2 Air conditioner Television plasma 50 ins Microwave Water heater
                    </td>
                    <td bgcolor="#FFFFFF">
                        <input class="btn btn-info btn-lg" type="submit" value="Select" style="font-size: 20px;">
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td bgcolor="#FFA500" style="text-align:center">Room 204</td>
                    <td bgcolor="#FFFFFF" style="text-align:left">
                        Suite room<br />
                        2 Air conditioner Television plasma 50 ins Microwave Water heater
                    </td>
                    <td bgcolor="#FFFFFF">
                        <input class="btn btn-info btn-lg" type="submit" value="Select" style="font-size: 20px;">
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td bgcolor="#FFA500" style="text-align:center">Room 305</td>
                    <td bgcolor="#FFFFFF" style="text-align:left">
                        Suite room<br />
                        2 Air conditioner Television plasma 50 ins Microwave Water heater
                    </td>
                    <td bgcolor="#FFFFFF">
                        <input class="btn btn-info btn-lg" type="submit" value="Select" style="font-size: 20px;">
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td bgcolor="#FFA500" style="text-align:center">Room 406</td>
                    <td bgcolor="#FFFFFF" style="text-align:left">
                        Suite room<br />
                        2 Air conditioner Television plasma 50 ins Microwave Water heater
                    </td>
                    <td bgcolor="#FFFFFF">
                        <input class="btn btn-info btn-lg" type="submit" value="Select" style="font-size: 20px;">
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td bgcolor="#FFA500" style="text-align:center">Room 507</td>
                    <td bgcolor="#FFFFFF" style="text-align:left">
                        Suite room<br />
                        2 Air conditioner Television plasma 50 ins Microwave Water heater
                    </td>
                    <td bgcolor="#FFFFFF">
                        <input class="btn btn-info btn-lg" type="submit" value="Select" style="font-size: 20px;">
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td bgcolor="#FFA500" style="text-align:center">Room 608</td>
                    <td bgcolor="#FFFFFF" style="text-align:left">
                        Suite room<br />
                        2 Air conditioner Television plasma 50 ins Microwave Water heater
                    </td>
                    <td bgcolor="#FFFFFF">
                        <input class="btn btn-info btn-lg" type="submit" value="Select" style="font-size: 20px;">
                    </td>
                </tr>

                <tr onclick="location.href='Home'">
                    <td></td>
                    <td></td>
                    <td>
                        <input class="btn btn-danger btn-lg" type="submit" formaction="/Home" value="Back" style="font-size: 20px;">
                    </td>
                </tr>
            </table>
        </font>
    </div>
</body>
