@page
@model Project.Pages.SigninSqlModel
@using MySql.Data.MySqlClient;
@{
    var email_login = Request.Form["email_login"];
    var pass_login = Request.Form["pass_login"];


    MySqlConnection conn;
    string server = "localhost";
    string database = "reservation_room";
    string uid = "root";
    string password = "12345678";
    string connectionString = "SERVER=" + server + ";" + "DATABASE=" +
    database + ";" + "UID=" + uid + ";" + "PASSWORD=" + password + ";";
    conn = new MySqlConnection(connectionString);
    try
    {
        conn.Open();

    }
    catch (Exception ex)
    {
        <p>ติดต่อฐานข้อมูลไม่ได้!!!</p>
    }

    string sqlCmd = "INSERT sign_in VALUES (@email,@pass)";

    MySqlCommand cmd = new MySqlCommand(sqlCmd, conn);

    cmd.Parameters.AddWithValue("@email", email_login);
    cmd.Parameters.AddWithValue("@pass", pass_login);

    cmd.ExecuteNonQuery();
      <script>
         alert("Please complete the information.");
         window.setTimeout(function () { window.location.href = "./Home" });
      </script>
}


